/* Main Page Styles */
.main-page {
  padding: 5%;
}

.main-page h1 {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}

.main-page p {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}

.main-page section {
  max-width: 1800px; 
  margin: -30px;
  border-radius: 10px;
  padding: 30px;
  border-radius: 5px;
  backdrop-filter: blur(100px);
}

.main-page section p {
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  text-shadow: 1px 1px 7px rgb(0, 0, 0);
  text-align: justify;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main-page {
    padding: 80px;
  }

  .main-page h1 {
    font-size: 28px;
  }

  .main-page p {
    font-size: 16px;
  }

  .main-page section {
    padding: 20px;
  }
}

.main-page section.visible {
  opacity: 1;
}
